<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>

    <div id="mycontainer" class="container">
      <section id="myrow" class="row mt-3 mb-5">
        <div class="col-xl-4 col-md-6 mt-4 card-base">
          <div class="card mycard text-center justify-content-center">
            <h2><%= printPerformer %></h2>
          </div>
        </div>
      </section>
    </div>

    <%- include("../partials/footer.ejs") %> <%- include("../partials/scripts.ejs") %>
  </body>
</html>
